---
layout: base.njk
---

<h2>Posts</h2>
<ul>
{% for post in ghost.posts %}
  <li>
    <h3>
      <a href="/posts/{{ post.slug }}/">{{ post.title }}</a>
    </h3>
    <p>posted on {{ post.published_at | displayDate }}</p>
    {% if post.custom_excerpt %}
      <p>{{ post.custom_excerpt }}</p>
    {% else %}
      <p>{{ post.excerpt }}</p>
    {% endif %}
    <p>Written by:</p>
    <ul>
    {% for author in post.authors %}
      <li>
        <a href="/author/{{ author.slug }}/">{{ author.name }}</a>
      </li>
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>

<h2>Pages</h2>
<ul>
{% for page in ghost.pages %}
  <li>
    <a href="/{{ page.slug }}/">{{ page.title }}</a>
  </li>
{% endfor %}
</ul>

<h2>Tags</h2>
<ul>
{% for tag in ghost.tags %}
  <li>
    <a href="/tag/{{ tag.slug }}/">{{ tag.name }}</a>
  </li>
{% endfor %}
</ul>