<!DOCTYPE html>
<html lang="{{ ghost.settings.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ item.title }}</title>
  {% if ghost.settings.codeinjection_head %}
    {{ ghost.settings.codeinjection_head}}
  {% endif %}
</head>
<body>
  <header>
    <h1>{{ ghost.settings.title }}</h1>
    <p>{{ ghost.settings.description }}</p>
    <ul>
    {% for item in ghost.settings.navigation %}
      <li>
        <a href="{{ item.url }}">{{ item.label }}</a>
      </li>
    {% endfor %}
    </ul>
  </header>  
  <main>
    {{ content | safe }}
  </main>
  {% if ghost.settings.codeinjection_foot %}
    {{ ghost.settings.codeinjection_foot}}
  {% endif %}
</body>
</html>